<div class="navbar-wagon">
  <!-- Logo -->






  <a href="/">
    <i class="fas fa-glass-martini fa-3x"></i>
</a>    <a class="btn btn-bottom-orange link-white"></a>

    <!-- class="navbar-wagon-brand">
    <img src="images/logo.png" alt="logo">
  </a> -->

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <!-- <a href="" class="navbar-wagon-item navbar-wagon-link">Host</a>
    <a href="" class="navbar-wagon-item navbar-wagon-link">Trips</a>
    <a href="" class="navbar-wagon-item navbar-wagon-link">Messages</a> -->
    </div>
  </div>
</div>
<!--

<a href="/">
    <i class="fa fa-glass fa-2x logo-white"></i>
</a>    <a class="btn btn-bottom-orange link-white" href="/cocktails/new">Create Cocktail</a> -->
